// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
    list-style:none;
}
ul{
    padding:0;
}

.header{
    color:#fff;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.menu{
    background-color:#012F4B;
    color:#fff;
}
.menu li {
    padding:1% 2%;
    text-align:center;
}

.contents .title{
    background-color:#fffacd;
    color:#c71585;
    font-weight:bold;
    padding:2% 2%;
    box-sizing: border-box;
    border: solid 1px #fff;
}
.topic{
    margin-top: 1%;
    background-color:#f0fff0;
    color: #fff;
    font-weight:bold;
    padding: 2%;
    border: dotted 3px #012F4B;
}
.container{
    padding-bottom: 10px;
}
